<% provide(:title, "商品詳細画面") %>

<div class="container text-center">

  <% if @product.present? %>
    <h1 class="title font-weight-bold mb-5">商品情報</h1>
    <h4 class="title font-weight-bold mb-5"><%= "商品 #{ @product.id }" %>

      <p class="text-right"><%= "商品カテゴリ: #{@product.category[:category_name]}" %></p>

      <p class="text-left">商品説明</p>
      <p class="text-left"><%= @product.product_name %></p>
      <br>
      <p class="text-left"><%= "価格: #{@product.price.to_s(:delimited)} 円" %></p>

      <%= form_with(url: carts_add_cart_path, method: :post, local: true) do |f| %>
        <div class="d-flex justify-content-center">
          <%= f.label :quantity, "購入個数" %>
          <%= f.number_field :quantity, value: 1, min: 1 %>
          <p>個</p>
          <%= hidden_field_tag :product_id, @product.id %>
          <%= f.submit "カートへ", class: "btn btn-lg btn-primary" %>
        </div>
    </h4>
    <% end %>

  <% else %>
    <h2 class="col-12 title font-weight-bold mb-5"><%= "該当商品が見つかりませんでした…" %></h2>
    <h3 class="title font-weight-bold mb-5"><%= "商品検索画面に戻り、やり直して下さい" %></h3>

    <%= form_with do |f| %>
      <div class="d-flex justify-content-center">
        <%= link_to "商品検索画面へ", products_path, class: "btn btn-lg btn-primary" %>
      </div>
    <% end %>

  <% end %>
</div>
