<header class="navbar fixed-top">
  <div class="container">
    <h2><%= link_to '探求学園Rails専攻', root_path, class:"hlogo font-weight-bold" %></h2>
    <% if logged_in? %>
      <%= link_to "#{current_user.last_name} #{current_user.first_name} さん", user_path(current_user), class:"ml-auto username" %>
    <% else %>
      <ul class="nav nav-right">
        <li class="mr-4"><%= link_to 'ログイン', login_path, class:"hmenu" %></li>
        <li><%= link_to '新規登録', signup_path, class:"hmenu" %></li>
      </ul>
    <% end %>
  </div>
  <% if logged_in? %>
    <div class="container">
      <div class="ml-auto navmenu">
        <div class="d-flex justify-content-around w-100">
          <%= link_to '商品検索', products_path, class:"hmenu" %>
          <%= link_to 'カート', carts_show_path, class:"hmenu" %>
          <%= link_to '注文履歴', '#', class:"hmenu" %>
          <%= link_to 'ユーザ情報', user_path(current_user), class:"hmenu" %>
          <%= link_to 'ログアウト', logout_path, method: :delete, class:"hmenu" %>
        </div>
      </div>
    </div>
  <% end %>
</header>
