<header class="navbar fixed-top">
  <div class="container">
    <h2><%= link_to '探求学園Rails専攻', '#', class:"hlogo font-weight-bold" %></h2>
    <%= link_to 'ゆーや さん', '#', class:"ml-auto username" %>
  </div>
  <div class="container">
    <div class="ml-auto navmenu">
      <div class="d-flex justify-content-around w-100">
        <%= link_to '商品検索', '#', class:"hmenu" %>
        <%= link_to 'カート', '#', class:"hmenu" %>
        <%= link_to '注文履歴', '#', class:"hmenu" %>
        <%= link_to 'ユーザ情報', '#', class:"hmenu" %>
        <%= link_to 'ログアウト', '#', class:"hmenu" %>
      </div>
    </div>
  </div>
</header>
